<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISmartWCFService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:60888/SmartWCFService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISmartWCFService"
        contract="SmartWCFServiceReference.ISmartWCFService" name="BasicHttpBinding_ISmartWCFService" />
    </client>
  </system.serviceModel>
</configuration>
